.footer_bottom{
    text-align: center;
  
}
.footer_bottom p{
    padding: 10px;
    margin-top: 7px;
}
.footer_para{
    position: relative;
  
}
.footer_span{
    background: linear-gradient(200deg,#DF8908 50%,#B415fF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
}
.footer_para span{
    
    font-size: 25px;
    font-weight:400;
}
.footer_para img{
    position: absolute;
    bottom: 0;
    top:10px;
    
    z-index: -1;
    width: 90px;
}

