

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100vh;
    background: #161513;
    color: white;
    overflow-y: scroll;  /* Enable vertical scrolling */
    overflow-x: hidden;  /* Disable horizontal scrolling */
   

   font-family: 'Montserrat',sans-serif;
}


